@{
    ViewData["Title"] = "Reports from soil authorities";
}
<h1>@ViewData["Title"]</h1>

<p>Here you will see all the reports submitted by all the SAP users.
    <br/>- I can provide an option to toggle between 'My reports' and 'All reports'
    <br/>- When clicked on 'My reports' only reports of logged in person will be visible.
    <br/>- 'All reports' will show reports from all SAP users.
    </p>